@{
    ViewData["Title"] = "About";
    @ViewData["Message"]
}
<h2>@ViewData["Title"].</h2>

<p>My name is Andrew Dalton, here's a little bit of information about me: </p>

<ul>
    <li>I am the eighth child in a family of ten children!</li>
    <li>I was born in Jacksonville, Florida, but my family moved elsewhere not long after</li>
    <li>I grew up in Salt Lake City, Utah</li>
    <li>I moved to Portland, Oregon once in 2009, lived here for a year, and moved back to Salt Lake for another two years. I moved back up to Portland in 2013 and I've been here since.</li>
    <li>I really enjoy Video Games and Board Games.</li>
    <li>I am very much a Fantasy and RPG buff.</li>
    <li>I've been developing a Fantasy setting since I was eight years old, and I want to use my enormous imagination to produce interactive and collaborative story experiences by developing Video Games.</li>
</ul>