@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4623 N Minnesota Ave.<br />
    Portland, Oregon 97217<br />
    <abbr title="Phone">P:</abbr>
    971-340-0641
</address>

<address>
    <strong>Email:</strong> <a href="mailto:expandrew@gmail.com">ExpAndrew@gmail.com</a><br />
</address>
