@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
<h1>My first web page</h1>
@*<h2>Written with the guidance of <em>Epicodus</em></h2>*@
<p>This is <b>my first webpage</b>! <i>(Or at least, it's an awful lot like my first webpage, except this time around I have a much better idea of what I'm doing...)</i></p>
<p>Here's a link to my <a href"">actual first webpage</a> so you can see the how far I've come!</p>
<p>Isn't it nice?</p>

<img src="~/images/Pockets.jpg" alt="A photo of my cat in my shirt.">

<p>Here are some things I have learned about coding in my time at Epicodus:</p>
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>SCSS</li>
    <li>Javascript</li>
    <li>Angular 2</li>
    <li>Typescript</li>
    <li>C#</li>
    <li>.NET Framework</li>
    <li>But most of all, I've learned that it's ok to fail. You don't learn ANYTHING if you never fail. Failing is how you learn how to get better at something.</li>
</ul>

<p>Here is a page about my @Html.ActionLink("Favorite Things", "Things")</p>
<p>Here is a page about my @Html.ActionLink("Favorite Pet", "Pet")</p>
<p>Here is a page about my @Html.ActionLink("Favorite People", "People")</p>
<p>Here is a page about my @Html.ActionLink("Favorite Places", "Places")</p>
<p>Check out <a href="http://www.epicodus.com/">Epicodus</a>. It's a great school for learning web programming!</p>
