@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<p>This is <b>my first webpage</b>! <i>(Or at least, it's an awful lot like my first webpage, except this time around I have a much better idea of what I'm doing...)</i></p>
<p>Here's a link to my <a href"">actual first webpage</a> so you can see the how far I've come!</p>

