@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Favorite People";
}

<p>Here are some of my favorite people!</p>
<ul>
    <li>
        <strong>My brothers and sisters</strong>
        <img class=family src="~/images/famdeer.jpg" alt="A picture of my brothers and sisters">
        <p>They are, in order of age:</p>
        <ol>
            <li>Christopher</li>
            <li>Angela</li>
            <li>Jonathan</li>
            <li>Julia</li>
            <li>Jeremy</li>
            <li>David</li>
            <li>Alyssa</li>
            <li>(I'm the 8th child)</li>
            <li>Timothy</li>
            <li>Amelia</li>
        </ol>
    </li>
    <li>
        <h3>My Mom:</h3>
        Lorraine
        <img class=parents src="~/images/momma.jpg" alt="A picture of Lorraine Dalton">
    </li>
    <li>
        <h3>My Dad:</h3>
        Randall
        <img class=parents src="~/images/poppa.jpg" alt="A picture of Randall Dalton">
    </li>
    <li>
        <strong>My Cat, <em>Pockets!</em></strong>
        <img src="~/images/catsinthebag.jpg" alt="A picture of my cat, in a messenger bag">
        <p><a href="favorite-pet.html">Here</a> you can read all about him.</p>
    </li>
    <li>
        And my friends!
        <img class=friends src="~/images/mah nerds.jpg" alt="A picture of my friends">
    </li>
</ul>