@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Favorite Things";
}

<h1>My favorite things</h1>
<h2>These are a few of my favorite things.</h2>

<h3>Favorite Types of Foods and Beverages</h3>
<p>These are my favorites, in no particular order:</p>
<ul>
    <li>
        Coffee (I like mine black)
        <img src="~/images/cup-of-coffee.jpg" alt="A picture of a cup of coffee">
    </li>
    <li>
        Beer
        <img src="~/images/Cold Beer.jpg" alt="A picture of some glasses of beer">
    </li>
    <li>
        Avocados>
        <img src="~/images/avocado.jpg" alt="A picture of an avocado">
    </li>
</ul>
<p>I also really love:</p>
<ul>
    <li>Pancakes/French Toast/Waffles</li>
    <li>Breakfast Sandwiches</li>
    <li>Pasta</li>
    <li>Pizza</li>
    <li>Burgers</li>
    <li>French Fries</li>
    <li>Sandwiches</li>
    <li>Burritos</li>
    <li>Tacos</li>
    <li>Thai food</li>
    <li>Chinese food</li>
</ul>
<p>Here you can read about my <a href="favorite-places.html">favorite places</a>!</p>
<h2>Favorite Websites</h2>
<p>If you are like me and are interested in fantasy and sci-fi RPGs, and Video Game Design and modification, you should check out some of my favorite websites!</p>
<ul>
    <li><a href="https://bethesda.net">Bethesda Softworks</a>, one of my favorite game developers.</li>
    <li><a href="https://www.taleworlds.com">Taleworlds Entertainment</a>, another of my favorite game developers.</li>
    <li><a href="http://www.moddb.com">Mod Database</a>, a website for modders to share their creations.</li>
    <li><a href="http://tamriel-rebuilt.org">Tamriel-Rbuilt</a>, one of my favorite Video Game mods.</li>
</ul>

<p>Thanks for reading about me!</p>